/* Genel stil ayarları */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d4ff00;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Başlık stil ayarları */
.saat-baslik {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #333;
}

/* Ana menü stil ayarları */
.navbar {
    background-color: #333;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

.navbar ul li a:hover {
    background-color: #555;
}

/* Bölüm kutusu stil ayarları */
.section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Buton stil ayarları */
.button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #555;
}

/* Footer stil ayarları */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
